*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(122, 14, 122);
    position: sticky;
    padding: 10px;
    top: 0;
}



nav{
    display: flex;
    align-items: flex-start;
    padding: 4rem;

    ul{
        display: flex;

        li{
            display: inline-block;
            list-style-type: none;
            font-size: larger;
            font-weight: bold;

            a{
                text-decoration: none;
                color: black;
                font-size: 0,80cm;
                font-family: 'Shadows Into Light', cursive;
                margin: 1cm;
                margin: 1cm;
                border: 1px solid
                
                
            }
            
        }
    }
}



body{
    background-color: black;
    }



footer{
    background-color: rgb(122, 14, 122);
    padding: 40x 20px;
    margin-bottom: 0;
    margin-top: 160px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: auto;
    margin-bottom: 0;
}

.botones-redes{
    display: flex;
    display: inline-block;
    list-style-type: none;
    align-items: center;
}


h1{
 
 font-family: 'Shadows Into Light', cursive;
 margin-top: 15px;
 text-align: center;
 
}