.titulo{
    color: rgb(122, 14, 122);
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
.parrafo{
    color: rgb(138, 178, 69);
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.subtitulofotos{
    display: flex;
    color: rgb(122, 14, 122) ;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 15px;
    justify-content: center;
    
}


iframe{
    margin-top: 80px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    