
$redes:(
    twitter:#55acee,
    facebook:#3a5795,
    instagram: rgb(100, 22, 100),
    

);

@each $red, $color in $redes {

    .btn--#{$red}{
        background-color: $color;
        font-family: 'Shadows Into Light', cursive;
    }
};
    

.redSocial{
    border:1px solid black;
    background-color: rgb(92, 145, 11);
    font-family: 'Shadows Into Light', cursive;
}

.redsocial--social{
    @extend.redSocial;
    border-radius: 2px;
}

.redsocial--nueva{
    @extend.redSocial;
    font-size: medium;
}

.redsocial--mark{
    @extend.redSocial;
    border-radius: 3px; 
}

/*mixin*/

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
} 

.my_mixin{
    @include sizes (50px, 25px);
    background-color: rgb(92, 145, 11);
    font-family: 'Shadows Into Light', cursive;
}

